docker-compose.yml
bootstrap/cache/services.php

storage/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

**/*node_modules

**.git
.idea
**.gitattributes
**.sass-cache
*.env*
composer.lock

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
readme.md
phpspec.yml

run
run.ps1

db/*
tags

web/scripts/*.sh

docker/docker-compose.yml
docker/run.sh
docker/cleanup.sh
docker/create_project_test.sh