version: '3.1'

services:

  __NAME__-db:
    image: "bitnami/mariadb:latest"
    container_name: __NAME__-db
    ports:
     - "6306:3306"
    networks:
      - front
      - back
    volumes:
      -  ../db/mariadb-persistence:/bitnami/mariadb
    environment:
      - MARIADB_ROOT_PASSWORD=rootsf@__NAME__
      - MARIADB_DATABASE=__NAME__db
      - MARIADB_USER=database_user___NAME__
      - MARIADB_PASSWORD=sf@__NAME__
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 5

  __NAME__-redis:
    restart: always
    container_name: __NAME__-redis
    image: redis:5.0.4-alpine
    networks:
      - front
      - back
    command: redis-server --requirepass sf_redis@__NAME__
    depends_on:
      - __NAME__-db

  __NAME__-web:
    image: richarvey/nginx-php-fpm:latest
    container_name: __NAME__-web
    ports:
      - "__PORT__:80"
    volumes:
      - ../web:/var/www/html
    environment:
      - VIRTUAL_HOST=domain_name1
      - RUN_SCRIPTS=1
      - APP_NAME=__NAME__
      - APP_ENV=local
      - APP_KEY=base64:__APP__KEY__
      - APP_DEBUG=true
      - APP_URL=http://localhost
      - LOG_CHANNEL=stack
      - DB_CONNECTION=mysql
      - DB_HOST=__NAME__-db
      - DB_PORT=3306
      - DB_DATABASE=__NAME__db
      - DB_USERNAME=database_user___NAME__
      - DB_PASSWORD=sf@__NAME__
      - BROADCAST_DRIVER=log
      - CACHE_DRIVER=file
      - SESSION_DRIVER=file
      - SESSION_LIFETIME=120
      - QUEUE_DRIVER=sync
      - REDIS_HOST=__NAME__-redis
      - REDIS_PASSWORD=sf_redis@__NAME__
      - REDIS_PORT=6379
      - MAIL_DRIVER=smtp
      - MAIL_HOST=smtp.mailtrap.io
      - MAIL_PORT=2525
      - MAIL_USERNAME=null
      - MAIL_PASSWORD=null
      - MAIL_ENCRYPTION=null
      - PUSHER_APP_ID=
      - PUSHER_APP_KEY=
      - PUSHER_APP_SECRET=
      - PUSHER_APP_CLUSTER=mt1
      - MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
      - MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
      - PHP_MEM_LIMIT=512Mb
      - SENTRY_LARAVEL_DSN=
    networks:
      - front
      - back
    command: ["./wait-for-database.sh", "__NAME__-db", "/start.sh"]
    depends_on:
      - __NAME__-db

  # __NAME__-minio:
  #   image: minio/minio
  #   container_name: __NAME__-minio
  #   volumes:
  #     - ../storage:/export
  #   networks:
  #     - front
  #     - back
  #   ports:
  #     - "9000:9000"
  #   environment:
  #     MINIO_ACCESS_KEY: devstoreaccount1
  #     MINIO_SECRET_KEY: Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
  #   command: gateway azure http://127.0.0.1:10000

networks:
  front:
    driver: bridge
  back:
    driver: bridge